/**
 * Customize style guide for NeatStreet App
 */

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

#logo {
    height: 300px;
    width: 300px;
    color: #FF6F00
}

nav.navbar, .navbar-default {
    background-color: #2990ea;
}

.navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
}

@media (min-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: black;
    }
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}

.dropdown-item {
    color: white;
}

.ns-blue {
    background-color: #2990ea;
}

.ns-orange {
    background-color: #ff9747;
}

 .black {
     background-color: black;
 }

 .grey {
    background-color: #666c70;
 }

 .text-white {
     color: #ffffff;
 }